@import url('https://fonts.googleapis.com/css?family=Raleway');

body
{
    font-family: "Raleway", sans-serif;
    background-color: silver;
    padding: 15px;
}

div
{
    margin: 10px auto;
    background-color: #dbdbdb;
    padding: inherit;
    box-shadow: 2px 2px 1px #9e9b98;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    position: fixed;
    z-index: 100;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #dbdbdb;
} 

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: inline;
    color: #3b4a59;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    background-color: #adbceb;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #d6c2bd; 
    color: white;
}

.header
{
    margin-top: 70px;    
}

p, li
{
    color: #4e4e46;
    font-weight: 400;
}

h3, h2, h1
{
    font-weight: 700;
}

li a
{
    text-decoration: none;
}


